{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="基于数据集FaceForensics++的伪造人脸视频检测网站" />
	<meta name="author" content="lgy" />

	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

	<!-- Custom fonts for this template -->
	{% block css %}{% endblock %}
	<link href="{% static 'fontawesome-free/css/all.min.css' %}" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="{% static 'bootstrap/css/index.min.css' %}" rel="stylesheet" />
</head>

<body id="page-top">
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">FF++_Detection</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				Menu
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="">Github</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
					</li> -->
					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="">
							{{ user.username }}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{% url 'logout' %}">
							Log out
						</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{% url 'login' %}">
							Log in
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="{% url 'signup' %}">
							Sign up
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block header %}
	{% endblock %}

	<main>
		{% block content %}
		{% endblock %}
	</main>

	{% block navigation %}
	{% endblock %}


	<!-- Projects Section -->
	<section id="projects" class="projects-section bg-light">
		<div class="container">
			<!-- Featured Project Row -->
			<div class="row align-items-center no-gutters mb-4 mb-lg-5">
				<div class="col-xl-8 col-lg-7">
					<img class="img-fluid mb-3 mb-lg-0" src="{% static '../media/images/images.jpg' %}" alt="" />
				</div>
				<div class="col-xl-4 col-lg-5" >
					<div class="featured-text text-center text-lg-left">
						<h4>Deepfakes</h4>
						<p class="text-black-50 mb-0">
							Deepfakes (a portmanteau of "deep learning" and "fake") are synthetic media in which a person in an existing image or video is replaced with someone else's likeness.
							While the act of faking content is not new, deepfakes leverage powerful techniques from machine learning and artificial intelligence to manipulate or generate visual and audio content with a high potential to deceive.
						</p>
					</div>
				</div>
			</div>

			<!-- Project One Row -->
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-lg-6">
					<img class="img-fluid" src="{% static '../media/images/deepfakes (1).jpg' %}" alt="" />
				</div>
				<div class="col-lg-6">
					<div class="bg-black text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<h4 class="text-white"><a href="https://github.com/ondyari/FaceForensics/#citation">FaceForensics++</a></h4>
								<p class="mb-0 text-white-50">
									FaceForensics++ is a dataset of facial forgeries that enables researchers to train deep-learning-based approaches in a supervised fashion. 
									The dataset contains manipulations created with four state-of-the-art methods, namely, Face2Face, FaceSwap, DeepFakes, and NeuralTextures.
								</p>
								<hr class="d-none d-lg-block mb-0 ml-0" />
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Project Two Row -->
			<div class="row justify-content-center no-gutters">
				<div class="col-lg-6">
					<img style="margin-top: 70px;" class="img-fluid" src="{% static '../media/images/2-Figure1-1.png' %}" alt="" />
				</div>
				<div class="col-lg-6 order-lg-first">
					<div class="bg-black text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-right">
								<h4 class="text-white">Forgery detection</h4>
								<p class="mb-0 text-white-50">
									Most of the academic research surrounding deepfake seeks to detect the videos.
									The most popular technique is to use algorithms similar to the ones used to build the deepfake to detect them.
									By recognizing patterns in how deepfakes are created the algorithm is able to pick up subtle inconsistencies.
									Researchers have developed automatic systems that examine videos for errors such as irregular blinking patterns of lighting.
								</p>
								<hr class="d-none d-lg-block mb-0 mr-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Signup Section -->
	<!-- <section id="signup" class="signup-section">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-lg-8 mx-auto text-center">
					<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
					<h2 class="text-white mb-5">Subscribe to receive updates!</h2>

					<form class="form-inline d-flex">
						<input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail"
							placeholder="Enter email address..." />
						<button type="submit" class="btn btn-primary mx-auto">
							Subscribe
						</button>
					</form>
				</div>
			</div>
		</div>
	</section> -->

	<!-- Contact Section -->
	<!-- <section class="contact-section bg-black">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mb-3 mb-md-0">
					<div class="card py-4 h-100">
						<div class="card-body text-center">
							<i class="fas fa-map-marked-alt text-primary mb-2"></i>
							<h4 class="text-uppercase m-0">Designer</h4>
							<hr class="my-4" />
							<div class="small text-black-50">lgy</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 mb-3 mb-md-0">
					<div class="card py-4 h-100">
						<div class="card-body text-center">
							<i class="fas fa-envelope text-primary mb-2"></i>
							<h4 class="text-uppercase m-0">Email</h4>
							<hr class="my-4" />
							<div class="small text-black-50">
								<a href="#">hug_lgy@163.com</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 mb-3 mb-md-0">
					<div class="card py-4 h-100">
						<div class="card-body text-center">
							<i class="fas fa-mobile-alt text-primary mb-2"></i>
							<h4 class="text-uppercase m-0">Phone</h4>
							<hr class="my-4" />
							<div class="small text-black-50">+86 17377436756</div>
						</div>
					</div>
				</div>
			</div>

			<div class="social d-flex justify-content-center">
				<a href="" class="mx-2">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" class="mx-2">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="" class="mx-2">
					<i class="fab fa-github"></i>
				</a>
			</div>
		</div>
	</section> -->

	<!-- Footer -->
	<footer class="bg-black small text-center text-white-50">
		<div class="container">
			Copyright &copy; lgy 2022
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Plugin JavaScript -->
	<script src="{% static 'bootstrap/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom scripts for this template -->
	<script src="{% static 'bootstrap/js/index.min.js' %}"></script>
</body>

</html>
