{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Sign Up{% endblock %}

{% block css %}

<link href="{% static 'bootstrap/css/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<form method="post" class="form-signup">

	{% csrf_token %}
	<h1>Sign up</h1>

	{% for field in form %}
	{{ field.label_tag }}<br>
	{{ field }}<br>
	{% for error in field.errors %}
	<p style="color: red">{{ error }}</p>
	{% endfor %}
	{% endfor %}

	<br>
	<label>
		<input type="checkbox" value="remember-me"> Remember me
	</label>

	<button class="btn btn-lg btn-primary btn-block" id="signup" type="submit">Sign up</button>
</form>
{% endblock %}
